examples/example.json
[
  {
    "id": "28a24a6108a02bc9",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "ac52144245d47caf",
    "type": "aws-secret-manager",
    "z": "28a24a6108a02bc9",
    "name": "Get Secret",
    "awsConfig": "195eae8ee9efb217",
    "secretId": "",
    "storeIn": "flow",
    "variableName": "SecretData",
    "x": 290,
    "y": 100,
    "wires": [
      [
        "d0c4bcf2c1b4b6bf"
      ]
    ]
  },
  {
    "id": "beab2fa7ac49e1a4",
    "type": "inject",
    "z": "28a24a6108a02bc9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 100,
    "wires": [
      [
        "ac52144245d47caf"
      ]
    ]
  },
  {
    "id": "d0c4bcf2c1b4b6bf",
    "type": "debug",
    "z": "28a24a6108a02bc9",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 100,
    "wires": []
  },
  {
    "id": "48469dd05b81d526",
    "type": "comment",
    "z": "28a24a6108a02bc9",
    "name": "SET SECRETS TO FLOW",
    "info": "",
    "x": 150,
    "y": 60,
    "wires": []
  },
  {
    "id": "ff65730e922392f4",
    "type": "aws-secret-manager",
    "z": "28a24a6108a02bc9",
    "name": "Get Secret",
    "awsConfig": "195eae8ee9efb217",
    "secretId": "",
    "storeIn": "global",
    "variableName": "SecretData",
    "x": 290,
    "y": 220,
    "wires": [
      [
        "eb1683510f813416"
      ]
    ]
  },
  {
    "id": "01b5d33ff392328d",
    "type": "inject",
    "z": "28a24a6108a02bc9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 220,
    "wires": [
      [
        "ff65730e922392f4"
      ]
    ]
  },
  {
    "id": "eb1683510f813416",
    "type": "debug",
    "z": "28a24a6108a02bc9",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 220,
    "wires": []
  },
  {
    "id": "aa5265aa901deb2c",
    "type": "comment",
    "z": "28a24a6108a02bc9",
    "name": "SET SECRETS TO GLOBAL",
    "info": "",
    "x": 160,
    "y": 180,
    "wires": []
  },
  {
    "id": "c82e2a260f5c11cf",
    "type": "aws-secret-manager",
    "z": "28a24a6108a02bc9",
    "name": "Get Secret",
    "awsConfig": "195eae8ee9efb217",
    "secretId": "",
    "storeIn": "env",
    "variableName": "SecretData",
    "x": 290,
    "y": 340,
    "wires": [
      [
        "91f78973ad0ac0e7"
      ]
    ]
  },
  {
    "id": "beda03982e8a34ab",
    "type": "inject",
    "z": "28a24a6108a02bc9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 340,
    "wires": [
      [
        "c82e2a260f5c11cf"
      ]
    ]
  },
  {
    "id": "91f78973ad0ac0e7",
    "type": "debug",
    "z": "28a24a6108a02bc9",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 340,
    "wires": []
  },
  {
    "id": "4807be4712d0d31b",
    "type": "comment",
    "z": "28a24a6108a02bc9",
    "name": "SET SECRETS TO ENV",
    "info": "",
    "x": 140,
    "y": 300,
    "wires": []
  },
  {
    "id": "5fc615645e6ee009",
    "type": "aws-secret-manager",
    "z": "28a24a6108a02bc9",
    "name": "Get Secret",
    "awsConfig": "195eae8ee9efb217",
    "secretId": "",
    "storeIn": "env",
    "variableName": "SecretData",
    "x": 290,
    "y": 460,
    "wires": [
      [
        "f1f9ffdda55e1221"
      ]
    ]
  },
  {
    "id": "c1099a97b0102d2f",
    "type": "inject",
    "z": "28a24a6108a02bc9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 460,
    "wires": [
      [
        "5fc615645e6ee009"
      ]
    ]
  },
  {
    "id": "f1f9ffdda55e1221",
    "type": "debug",
    "z": "28a24a6108a02bc9",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 460,
    "wires": []
  },
  {
    "id": "1d90456881a4cf81",
    "type": "comment",
    "z": "28a24a6108a02bc9",
    "name": "SET SECRETS TO PAYLOAD",
    "info": "",
    "x": 160,
    "y": 420,
    "wires": []
  },
  {
    "id": "85f4a93c76baa104",
    "type": "comment",
    "z": "28a24a6108a02bc9",
    "name": "GET DATA",
    "info": "",
    "x": 100,
    "y": 580,
    "wires": []
  },
  {
    "id": "1b1e8f52eace9ddb",
    "type": "inject",
    "z": "28a24a6108a02bc9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 620,
    "wires": [
      [
        "d482628ab8ee0bc9"
      ]
    ]
  },
  {
    "id": "d482628ab8ee0bc9",
    "type": "function",
    "z": "28a24a6108a02bc9",
    "name": "Get Data",
    "func": "msg.flow_data = flow.get('variable');\nmsg.global_data = global.get('variable');\nmsg.env_data = env.get('variable');\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 280,
    "y": 620,
    "wires": [
      [
        "255c584f961d638d"
      ]
    ]
  },
  {
    "id": "255c584f961d638d",
    "type": "debug",
    "z": "28a24a6108a02bc9",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 620,
    "wires": []
  },
  {
    "id": "195eae8ee9efb217",
    "type": "aws-secret-manager-config",
    "name": "TEST",
    "region": "eu-central-1",
    "useIAMRole": true,
    "accessKeyId": "",
    "accessKeyIdType": "str",
    "secretAccessKey": "",
    "secretAccessKeyType": "str"
  }
]